---
layout: default
---
<div style="padding-top: 6%;padding-left: 4%;" class="sqs-html-content">
    <p class="" style="white-space:pre-wrap;">E-mail: nasimovi@sas.upenn.edu | nejla.asimovic@nyu.edu | nejla.asimovic@gmail.com</p><p class="" style="white-space:pre-wrap;"><a href="https://twitter.com/nejlaasimovic" target="_blank"><span class="sqsrte-text-color--custom" style="color: hsl(239, 91%, 50%)">Twitter</span></a><span class="sqsrte-text-color--custom" style="color: hsl(239, 91%, 50%)">﻿</span></p><p class="" style="white-space:pre-wrap;"><a href="https://www.linkedin.com/in/nejlaasimovic/" target="_blank"><span class="sqsrte-text-color--custom" style="color: hsl(239, 91%, 50%)">LinkedIn</span></a></p><p class="" data-rte-preserve-empty="true" style="white-space:pre-wrap;"></p><p class="" style="white-space:pre-wrap;"><br><br><br></p>
  </div>