---
layout: default
---

<div style="margin: 0px !important; padding: 0px">
  <div class="content" style="width: 70%; margin: auto; margin-top: 15px">
    <div
      class="sqs-layout sqs-grid-12 columns-12"
      data-type="page-section"
      id="page-section-60ac1c8d6aa28a56487a0998"
    >
      <div class="row sqs-row">
        <div class="col sqs-col-12 span-12">
          <div
            class="sqs-block html-block sqs-block-html"
            data-block-type="2"
            data-border-radii='{"topLeft":{"unit":"px","value":0.0},"topRight":{"unit":"px","value":0.0},"bottomLeft":{"unit":"px","value":0.0},"bottomRight":{"unit":"px","value":0.0}}'
            id="block-4edb160f66d860f7b872"
          >
            <div class="sqs-block-content">
              <div class="sqs-html-content">
                <h1
                  style="
                  font-size: 28px;"
                >
                  PEER-REVIEWED PAPERS
                </h1>
                <hr>
                
                {% for research in page.pre_reviewed_papers %}
                  <p class="sqsrte-large" style="margin-bottom: 0;">
                    <span >{{research.authors}}</span>
                    <span style="font-weight: bold;">"{{research.title}}"</span>
                    <span style="font-style: italic;">{{research.subtitle}}</span>
                    <span>{{research.reference}}</span>
                  </p>
                  <p style="margin: 3px 0px;">
                    [<a
                      href="{{research.journal_url}}"
                      >{{research.version}}</a
                    >]
                  </p>
                  {% if research.abstract %}
                  <button type="button" class="collapsible" data-target="markdown-content-{{research.title}}">Abstract</button>
                  <div id="markdown-content-{{research.title}}" style="display: none;">
                    <div class="paper-content">
                      {{research.abstract}}
                    </div>
                  </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
          <div
            class="sqs-block horizontalrule-block sqs-block-horizontalrule"
            data-block-type="47"
            id="block-yui_3_17_2_1_1660678743548_5138"
          >
            <div class="sqs-block-content"></div>
          </div>
          <div
            class="sqs-block html-block sqs-block-html"
            data-block-type="2"
            data-border-radii='{"topLeft":{"unit":"px","value":0.0},"topRight":{"unit":"px","value":0.0},"bottomLeft":{"unit":"px","value":0.0},"bottomRight":{"unit":"px","value":0.0}}'
            id="block-yui_3_17_2_1_1660678743548_5199"
          >
            <div class="sqs-block-content">
              <div class="sqs-html-content">
                <h4
                  style="font-size: 28px;"
                >
                  WORK IN PROGRESS
                </h4>
                <hr>
                {% for work in page.work_in_progress %}
                <p class="sqsrte-large" style="margin-bottom: 0;">
                  <span >{{work.authors}}</span>
                  <span style="font-weight: bold;">"{{work.title}}"</span>
                  <span style="font-style: italic;">{{work.status}}</span>
                </p>
              
                {% if work.abstract %}
                  <button type="button" class="collapsible" data-target="markdown-content-{{work.title}}">Abstract</button>
                  <div id="markdown-content-{{work.title}}" style="display: none;">
                    <div class="paper-content">
                      {{work.abstract}}
                    </div>
                  </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
          <div
            class="sqs-block horizontalrule-block sqs-block-horizontalrule"
            data-block-type="47"
            id="block-yui_3_17_2_1_1660678743548_6361"
          >
            <div class="sqs-block-content"></div>
          </div>
          <div
            class="sqs-block html-block sqs-block-html"
            data-block-type="2"
            data-border-radii='{"topLeft":{"unit":"px","value":0.0},"topRight":{"unit":"px","value":0.0},"bottomLeft":{"unit":"px","value":0.0},"bottomRight":{"unit":"px","value":0.0}}'
            id="block-yui_3_17_2_1_1660678743548_6424"
          >
            <div class="sqs-block-content">
              <div class="sqs-html-content">
                <h4
                  style="font-size: 28px;"
                >
                  OTHER WRITING
                </h4>
                <hr>
                
                {% for writing in page.other_writing %}
                
                <p class="sqsrte-large" style="margin-bottom: 0;">
                  <span >{{writing.authors}}</span>
                  <span style="font-weight: bold;">"{{writing.title}}"</span>
                  <span style="font-style: italic;">{{writing.subtitle}}</span>
                </p>
                
                <p style="margin: 3px 0px;">
                  [<a
                    href="{{writing.report_url}}"
                    >report</a
                  >]
                </p>

                {% if writing.abstract %}
                  <button type="button" class="collapsible" data-target="markdown-content-{{writing.title}}">Abstract</button>
                  <div id="markdown-content-{{writing.title}}" style="display: none;">
                    <div class="paper-content">
                      {{writing.abstract}}
                    </div>
                  </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
