---
layout: default
---

<div style="margin: 0px !important; padding: 0px">
  <div class="content" style="width: 70%; margin: auto; margin-top: 15px">
    <div
      class="sqs-layout sqs-grid-12 columns-12"
      data-type="page-section"
      id="page-section-60ac1c8d6aa28a56487a0998"
    >
      <div class="row sqs-row">
        <div class="col sqs-col-12 span-12">
          <div
            class="sqs-block html-block sqs-block-html"
            data-block-type="2"
            data-border-radii='{"topLeft":{"unit":"px","value":0.0},"topRight":{"unit":"px","value":0.0},"bottomLeft":{"unit":"px","value":0.0},"bottomRight":{"unit":"px","value":0.0}}'
            id="block-4edb160f66d860f7b872"
          >
            <div class="sqs-block-content">
              <div class="sqs-html-content">
                <h1
                  style="
                  font-size: 28px;
                  color: #666;"
                >
                  PEER-REVIEWED PAPERS
                </h1>
                <hr>
                <p class="sqsrte-large">
                  {% for research in page.pre_reviewed_papers %}<span
                    class="sqsrte-text-color--custom"
                    style="
                    color: #111;
                    font-weight: bold;
                    "
                    >{{research.title}}</span
                  >
                </p>
                <p class="" style="font-size: 14.5px;     color: #900;">
                  {{research.subtitle}} [<a
                    href="https://www.pnas.org/doi/10.1073/pnas.2022819118"
                    >{{research.version}}</a
                  >]{% if research.pre-print %} [<a
                    href="/s/pnas2022819118-1.pdf"
                    >{{research.pre-print}}]</a
                  >{% endif %} {% if research.appendix %}[<a
                    href="/s/pnas2022819118sapp.pdf"
                    >{{research.appendix}}</a
                  >]{% endif %}
                </p>
                <p class="" style=" font-size: 14.5px;     color: #900;">
                  {% if research.year %}<em>{{research.year}} </em>{% endif %}<a
                    href="https://www.pnas.org/content/118/25/e2022819118"
                    ><em>{{research.url}}</em></a
                  >
                </p>
                {% if research.text %}
                <p class="" style="font-size: 16px">
                  <em>{{research.text}}</em>
                </p>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
          <div
            class="sqs-block horizontalrule-block sqs-block-horizontalrule"
            data-block-type="47"
            id="block-yui_3_17_2_1_1660678743548_5138"
          >
            <div class="sqs-block-content"></div>
          </div>
          <div
            class="sqs-block html-block sqs-block-html"
            data-block-type="2"
            data-border-radii='{"topLeft":{"unit":"px","value":0.0},"topRight":{"unit":"px","value":0.0},"bottomLeft":{"unit":"px","value":0.0},"bottomRight":{"unit":"px","value":0.0}}'
            id="block-yui_3_17_2_1_1660678743548_5199"
          >
            <div class="sqs-block-content">
              <div class="sqs-html-content">
                <h4
                  style="
                  font-size: 28px;
                  color: #666;"
                >
                  WORK IN PROGRESS
                </h4>
                <hr>
                {% for work in page.work_in_progress %}
                <p class="sqsrte-large">
                  <span
                    class="sqsrte-text-color--custom"
                    style="
                    color: #111;
                    font-weight: bold;
                    "
                    >“{{work.title}}”
                  </span>
                  {% if work.link %}
                   <span style=" font-size: 16px">[<a href="{{work.link.url}}">{{work.link.text}}</a>]</span>
                  {% endif %}

                  {% if work.subtitle %}
                   <span style=" font-size: 16px">{{work.subtitle}}</span>
                  {% endif %}
                </p>
                
                <p class="" >
                  <span
                    class="sqsrte-text-color--custom"
                    style="font-size: 14.5px;     color: #900;"
                    >{{work.authors}}</span
                  >
                </p>
                {% endfor %}
              </div>
            </div>
          </div>
          <div
            class="sqs-block horizontalrule-block sqs-block-horizontalrule"
            data-block-type="47"
            id="block-yui_3_17_2_1_1660678743548_6361"
          >
            <div class="sqs-block-content"></div>
          </div>
          <div
            class="sqs-block html-block sqs-block-html"
            data-block-type="2"
            data-border-radii='{"topLeft":{"unit":"px","value":0.0},"topRight":{"unit":"px","value":0.0},"bottomLeft":{"unit":"px","value":0.0},"bottomRight":{"unit":"px","value":0.0}}'
            id="block-yui_3_17_2_1_1660678743548_6424"
          >
            <div class="sqs-block-content">
              <div class="sqs-html-content">
                <h4
                  style="
                  font-size: 28px;
                  color: #666;"
                >
                  OTHER WRITING
                </h4>
                <hr>
                
                {% for writing in page.other_writing %}
                <p
                  class="sqsrte-large"
                  style="
                  color: #111;
                  font-weight: bold;
                  "
                >
                  <span>"{{writing.title}}"</span>
                  
                  {% if writing.link %}
                   <span style=" font-size: 16px">[<a href="{{writing.link.url}}">{{writing.link.text}}</a>]</span>
                  {% endif %}
                </p>
                <p class="">
                  <span
                    class="sqsrte-text-color--custom"
                    style="font-size: 14.5px;     color: #900;;
                    "
                    >{{writing.authors}} </span
                  >
                </p>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
