---
layout: default

---

<div style="width: 90%;display: flex;"  ><div style="width: 60%;" data-block-type="2" data-border-radii="{&quot;topLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;topRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0}}" id="block-16578cd387fa7453dcfc"><div class="sqs-block-content">

    <div >
      <p style="text-align:center;"  data-rte-preserve-empty="true"></p><p style="text-align:center;white-space:pre-wrap;" class="">Teaching Assistant, <br>Comparative Politics (Fall 2021; Fall 2022; Spring 2023)</p><p style="text-align:center;white-space:pre-wrap;" class="">[<a href="/s/asimovic-teaching-evaluations.pdf"><span class="sqsrte-text-color--custom" style="color: #0300FF">Teaching Evaluations</span></a>]</p>
    <hr style="margin-top:77px !important;text-align: center;width: 80%;margin: auto;">
    </div>
  
    </div></div><div style="width: 40%;" data-block-type="2" data-border-radii="{&quot;topLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;topRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0}}" id="block-eab57a6404b2c863dbd4"><div class="sqs-block-content">
    
    <div >
      <p >Classical theories and the recent behavioral revolution. Addresses personality, social structure, socialization, political culture, and political parties. Major approaches such as group theory, structural-functionalism, and systems analysis. Consideration of national character, elite and class analysis, and problems of conflict, violence, and internal war.</p><p class="" data-rte-preserve-empty="true" style="white-space:pre-wrap;"></p>
    </div>
  
    
    
    </div></div></div>
    <div style="width: 90%;display: flex;"  ><div style="width: 60%;" data-block-type="2" data-border-radii="{&quot;topLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;topRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0}}" id="block-16578cd387fa7453dcfc"><div class="sqs-block-content">

        <div >
          <p style="text-align:center;"  data-rte-preserve-empty="true"></p><p style="text-align:center;white-space:pre-wrap;" class="">Teaching Assistant, 
            International Relations Senior Honors (Fall 2019; Spring 2020)</p><p style="text-align:center;white-space:pre-wrap;" class="">[<a href="/s/asimovic-teaching-evaluations.pdf"><span class="sqsrte-text-color--custom" style="color: #0300FF">Teaching Evaluations</span></a>]</p>
        <hr style="margin-top:197px !important;text-align: center;width: 80%;margin: auto;">
        </div>
      
        </div></div><div style="width: 40%;" data-block-type="2" data-border-radii="{&quot;topLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;topRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0}}" id="block-eab57a6404b2c863dbd4"><div class="sqs-block-content">
        
        <div >
          <p>The international relations major’s two-semester honors sequence. In the fall term, students learn how to develop explanations for international phenomena and derive testable hypotheses, and then how to develop research designs capable of testing these hypotheses. The senior honors thesis is written in the spring term..</p><p class="" data-rte-preserve-empty="true" style="white-space:pre-wrap;"></p>
          <p class="" style="white-space:pre-wrap;"><em>Prerequisites: a 3.65 GPA both overall and in the major, and permission of the program.</em> <em>Offered in fall and spring respectively. </em></p>  </div>
      
        
        
        </div></div></div>



        <div style="width: 90%;display: flex;"  ><div style="width: 60%;" data-block-type="2" data-border-radii="{&quot;topLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;topRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0}}" id="block-16578cd387fa7453dcfc"><div class="sqs-block-content">

            <div >
              <p style="text-align:center;"  data-rte-preserve-empty="true"></p><p style="text-align:center;white-space:pre-wrap;" class="">Teaching Assistant, 
                Designed a syllabus for a graduate-level course on political psychology</p><p style="text-align:center;white-space:pre-wrap;" class="">[<a href="/s/asimovic-teaching-evaluations.pdf"><span class="sqsrte-text-color--custom" style="color: #0300FF">available by request</span></a>]</p>
            
            </div>
          
            </div></div><div style="width: 40%;" data-block-type="2" data-border-radii="{&quot;topLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;topRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0}}" id="block-eab57a6404b2c863dbd4"><div class="sqs-block-content">
            
            <div >
              <p>Course Description: In this course, we will explore the interplay between psychology and politics, both uncovering psychological roots of political behavior and bringing socio-political perspectives to psychological processes. We will address a series of debates and questions including: What strategies halt or facilitate reconciliation between antagonistic groups?  To what extent does genetic variation influence one's political attitudes? How do politicians motivate and persuade voters by appealing to their emotions? In what way do cognitive biases shape the manner in which we act and think about political phenomena? </p><p class="" data-rte-preserve-empty="true" style="white-space:pre-wrap;"></p>
              <p> </p><p class="" data-rte-preserve-empty="true" style="white-space:pre-wrap;"></p>
           
            
            
            </div></div></div>
        
        
        
        
        
           
            {% for assistant in assistants %}
            
            <div style="width: 90%;display: flex;">
                <div style="width: 60%;" data-block-type="2" data-border-radii="{&quot;topLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;topRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0}}" id="block-16578cd387fa7453dcfc">
                    <div class="sqs-block-content">
                        <div>
                            <p style="text-align:center;" data-rte-preserve-empty="true"></p>
                            <p style="text-align:center;white-space:pre-wrap;">{{assistant.text1}}<br>{{assistant.text2}}</p>
                            <p style="text-align:center;white-space:pre-wrap;">[<a href="/s/asimovic-teaching-evaluations.pdf"><span class="sqsrte-text-color--custom" style="color: #0300FF">{{assistant.link}}</span></a>]</p>
                            <hr style="margin-top:77px !important;text-align: center;width: 80%;margin: auto;">
                        </div>
                    </div>
                </div>
                <div style="width: 40%;" data-block-type="2" data-border-radii="{&quot;topLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;topRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0}}" id="block-eab57a6404b2c863dbd4">
                    <div class="sqs-block-content">
                        <div>
                            <p>{{assistant.text}}</p>
                            <p class="" data-rte-preserve-empty="true" style="white-space:pre-wrap;"></p>
                        </div>
                    </div>
                </div>
            </div>
            
            {% endfor %} 
            



               
        
        
        
        
        
        
        
        
        <p>{{teaching.text1}}</p>
        
          
          
        
        
 