---
layout: default

---

<div style="width: 90%; display: flex;">
    <div style="width: 100%;" data-block-type="2"
        data-border-radii="{&quot;topLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;topRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0}}"
        id="block-16578cd387fa7453dcfc">
        <div class="sqs-block-content" style="margin-left: 17%;">
            {% for assistant in page.teaching %}
                {% if forloop.index <= 2 %}
                    <p style="font-size: 28px; font-weight: bold;">McCourt School, Georgetown University</p>
                {% else %}
                    <p style="font-size: 28px; font-weight: bold;">New York University</p>
                {% endif %}
                
                <hr style="margin: auto;">

                <div>
                    <p style="white-space: pre-wrap; font-weight: bold; margin-bottom: 0;">{{ assistant.title }}</p>
                    
                    {% if assistant.subtitle %}
                    <p style="font-size: 17px; margin: 3px 0px;">{{ assistant.subtitle }}</p>
                    {% endif %}
                    
                    {% if assistant.url %}
                    <p style="font-size: 17px; margin: 3px 0px;">
                        [<a href="/s/asimovic-teaching-evaluations.pdf" style="color: #0300FF;">{{ assistant.url }}</a>]
                    </p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

